{{#partial "contenido-usuario"}}
    <div>
        <nav class="flex" aria-label="Breadcrumb" style="margin-top: 20px; margin-bottom: 20px">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                Trayectos de {{vinculacionElegida.organizacion.razonSocial}}
              </a>
            </li>
            <li class="inline-flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                Nuevo Trayecto
              </a>
            </li>
            <li aria-current="page">
              <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Nuevo tramo público</span>
              </div>
            </li>
          </ol>
        </nav>
        <div>
            <h3 class="mb-4 text-xl font-medium text-gray-900 " style="display: flex">Elegí la linea para tu tramo publico</h3>
        </div>
        <div>
            <form method="GET" action="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo/tramos/nuevo">
                <input type="hidden" name="tipo" value="publico">
                <select required name="linea" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      ">
                    <option selected disabled value="">Elija una Linea</option>
                    {{#each lineas}}
                        <option value="{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>
                <button type="submit" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-full mb-2" style="margin-top: 10px">
                  Elegir parada
                </button>
            </form>
        </div>
    </div>
{{/partial}}
{{> components/LayoutUsuario.html.hbs}}