{{#partial "contenido-usuario"}}
    <div>
        <nav class="flex" aria-label="Breadcrumb" style="margin-top: 20px; margin-bottom: 20px">
          <ol class="inline-flex items-center space-x-1 md:space-x-3">
            <li class="inline-flex items-center">
              <a href="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                Trayectos de {{vinculacionElegida.organizacion.razonSocial}}
              </a>
            </li>
            <li class="inline-flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                Nuevo Trayecto
              </a>
            </li>
            <li class="inline-flex items-center">
              <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
              <a href="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo/tramos/nuevo/privado" class="inline-flex items-center text-sm font-medium text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                Nuevo tramo privado
              </a>
            </li>
            <li aria-current="page">
              <div class="flex items-center">
                <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                <span class="ml-1 text-sm font-medium text-gray-500 md:ml-2 dark:text-gray-400">Tramo en {{medio.nombre}}</span>
              </div>
            </li>
          </ol>
        </nav>

        <div>
            <h3 class="mb-4 text-xl font-medium text-gray-900 " style="display: flex">Elija origen y destino</h3>
        </div>

        <div>
            <form class="space-y-6" method="POST" action="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo/tramos">
                <input type="hidden" name="tipo" value="privado">
                <input type="hidden" name="medioDeTransporte" value="{{medio.id}}">
                <div class="grid gap-12 mb-12 md:grid-cols-2">
                    <div>
                        <div>
                            <h4 class="mb-4 text-xl font-medium text-gray-900 ">Desde</h4>
                        </div>
                        <div>
                            <label for="paisOrigen" class="block mb-2 text-sm font-medium text-gray-900 ">Pais</label>
                            <input type="text" name="paisOrigen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="provinciaOrigen" class="block mb-2 text-sm font-medium text-gray-900 ">Provincia</label>
                            <input type="text" name="provinciaOrigen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="municipioOrigen" class="block mb-2 text-sm font-medium text-gray-900 ">Municipio</label>
                            <input type="text" name="municipioOrigen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="localidadOrigen" class="block mb-2 text-sm font-medium text-gray-900 ">Localidad</label>
                            <input type="text" name="localidadOrigen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="calleOrigen" class="block mb-2 text-sm font-medium text-gray-900 ">Calle</label>
                            <input type="text" name="calleOrigen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="alturaOrigen" class="block mb-2 text-sm font-medium text-gray-900 ">Altura</label>
                            <input type="number" name="alturaOrigen" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                    </div>
                    <div>
                        <div>
                            <h4 class="mb-4 text-xl font-medium text-gray-900 ">Hasta</h4>
                        </div>
                        <div>
                            <label for="paisDestino" class="block mb-2 text-sm font-medium text-gray-900 ">Pais</label>
                            <input type="text" name="paisDestino" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="provinciaDestino" class="block mb-2 text-sm font-medium text-gray-900 ">Provincia</label>
                            <input type="text" name="provinciaDestino" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="municipioDestino" class="block mb-2 text-sm font-medium text-gray-900 ">Municipio</label>
                            <input type="text" name="municipioDestino" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="localidadDestino" class="block mb-2 text-sm font-medium text-gray-900 ">Localidad</label>
                            <input type="text" name="localidadDestino" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="calleDestino" class="block mb-2 text-sm font-medium text-gray-900 ">Calle</label>
                            <input type="text" name="calleDestino" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                        <div>
                            <label for="alturaDestino" class="block mb-2 text-sm font-medium text-gray-900 ">Altura</label>
                            <input type="number" name="alturaDestino" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      " required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="w-full text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center   " style="background: #5E8C31">Añadir tramo</button>
            </form>
        </div>
    </div>
{{/partial}}
{{> components/LayoutUsuario.html.hbs}}