{{#partial "contenido-org"}}
<div style="min-width: 596px">
    <span class="m-3" style="align-self: center">Reportes Individuales</span>
    <div style="justify-content: space-between; display: flex">
            <form method="GET" class="flex w-full  gap-2" action="/organizaciones/me/reportes/individual" style="justify-content: space-between; margin-top: 16px">
                <select name="anio" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      ">
                    <option selected>Elija un año</option>
                    {{#each anios}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                <select name="mes" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5      ">
                    <option selected>Elija un mes</option>
                    <option value="0">ANUAL</option>
                    <option value="1">ENERO</option>
                    <option value="2">FEBRERO</option>
                    <option value="3">MARZO</option>
                    <option value="4">ABRIL</option>
                    <option value="5">MAYO</option>
                    <option value="6">JUNIO</option>
                    <option value="7">JULIO</option>
                    <option value="8">AGOSTO</option>
                    <option value="9">SEPTIEMBRE</option>
                    <option value="10">OCTUBRE</option>
                    <option value="11">NOVIEMBRE</option>
                    <option value="12">DICIEMBRE</option>
                </select>
                <button type="submit"
                        class="w-full focus:ring-4 text-white focus:outline-none focus:ring-blue-500 font-bold rounded-lg text-sm px-5 py-2.5 text-center" style="background: #5E8C31; align:right">Generar Reporte</button>
            </form>
    </div>
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50  ">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Tipo de consumo
                </th>
                <th scope="col" class="py-3 px-6">
                    Consumo en Periodo
                </th>
            </tr>
            </thead>
            <tbody>
            {{# if reporte.huellaCarbonoTotal }}
                <tr class="bg-white border-b  ">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                        TOTAL
                    </th>
                    <td class="py-4 px-6">
                        {{reporte.huellaCarbonoTotal}}
                    </td>
                </tr>
            {{/if}}
            {{#each reporte.huellaCarbonoPorTipoDeConsumo }}
                <tr class="bg-white border-b  ">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                        {{@key.nombre}}
                    </th>
                    <td class="py-4 px-6">
                        {{this}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{/partial}}
{{> components/LayoutOrganizacion.html.hbs}}