{{#partial "contenido"}}
    <div style="display: flex; margin-top: 20px;">
    {{> components/SideBar.html.hbs}}
        <div style="flex: auto">
    {{# block "form"}}
    {{/block}}
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 px-6">
                    Fecha
                </th>
                <th scope="col" class="py-3 px-6">
                    Origen
                </th>
                <th scope="col" class="py-3 px-6">
                    Destino
                </th>
                <th scope="col" class="py-3 px-6">
                    Codigo de Invitacion
                </th>
            </tr>
            </thead>
            <tbody>
            {{#each trayectos }}
                <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{fecha}}
                    </th>
                    <td class="py-4 px-6">
                        {{origen}}
                    </td>
                    <td class="py-4 px-6">
                        {{destino}}
                    </td>
                    <td class="py-4 px-6">
                        {{codigoInvite}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    </div>
    </div>
    <form method="GET" action="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo">
        <button type="submit">Nuevo trayecto</button>
    </form>

{{/partial}}
{{> components/Layout.html.hbs}}
