{{#partial "form"}}

    <div style="margin-bottom: 20px; justify-content: space-between; display: flex">
        <span class="ml-3" style="align-self: center">Nuevo Trayecto</span>
        <div>
            <form method="POST" action="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos" style="display: flex">
                <input type="date" name="fecha" placeholder="Fecha" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" style="margin-right: 10px" required>
                <button type="submit"
                        class="w-full focus:ring-4 text-white focus:outline-none focus:ring-blue-500 font-bold rounded-lg text-sm px-5 py-2.5 text-center" style="background: #5E8C31; align:right">Añadir Trayecto</button>
            </form>
        </div>
    </div>
    <div style="display: flex;justify-content: space-between" >

        <div>
    <form method="GET" action="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo/tramos/nuevo" style="display: flex">
        <input type="hidden" name="tipo" value="publico">

        <select name="linea" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Elija una Linea</option>
            {{#each lineas}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>
        <button type="submit" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Nuevo Tramo Publico</button>
    </form>
        </div>
        <div>

    <form method="GET" action="/usuarios/me/vinculaciones/{{vinculacion.id}}/trayectos/nuevo/tramos/nuevo" style="display: flex">
        <input type="hidden" name="tipo" value="privado">

        <select name="medioDeTransporte" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
            <option selected>Elija un Medio de Transporte</option>
            {{#each mediosDeTransporte}}
                <option value="{{id}}">{{nombre}}</option>
            {{/each}}
        </select>

        <button type="submit" class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600 dark:focus:ring-green-800">Nuevo Tramo Privado</button>
    </form>
        </div>
    </div>
    {{#block "modal"}}{{/block}}
{{/partial}}
{{> components/TrayectosLayout.html.hbs}}

