<h1>Tramo en {{linea.nombre}}</h1>

<form method="POST" action="/miembros/vinculaciones/{{miembro.id}}/trayectos/nuevo/tramos">
    <input type="hidden" name="tipo" value="publico">
    <input type="hidden" name="linea" value="{{linea.id}}">
    <label for="origen">Parada Inicial</label>
    <select name="origen">
        {{#each linea.paradas}}
            <option value="{{id}}">{{nombre}}</option>
        {{/each}}
    </select>

    <label for="destino">Parada Final</label>
    <select name="destino">
        {{#each linea.paradas}}
            <option value="{{id}}">{{nombre}}</option>
        {{/each}}
    </select>

    <label for="ingresar">Confirmar Tramo</label>
    <input type="submit" name="ingresar">
</form>