<h1>TODO</h1>

<form method="POST" action="/miembros/{{usuario.id}}/vinculaciones/{{miembro.id}}/trayectos/nuevo">
    <label for="ingresar">Añadir Trayecto</label>
    <input type="submit" name="ingresar">
</form>

<form method="GET" action="/miembros/{{usuario.id}}/vinculaciones/{{miembro.id}}/trayectos/nuevo/tramos/nuevo">
    <input type="hidden" name="tipo" value="publico">
    
    <label for="linea">Elegir Linea</label>
    <select name="linea">
        {{#each lineas}}
            <option value="{{id}}">{{nombre}}</option>
        {{/each}}
    </select>

    <label for="ingresar">Nuevo Tramo publico</label>
    <input type="submit" name="ingresar">
</form>

<form method="GET" action="/miembros/{{usuario.id}}/vinculaciones/{{miembro.id}}/trayectos/nuevo/tramos/nuevo">
    <input type="hidden" name="tipo" value="privado">
    
    <label for="medio">Elegir Medio de transporte</label>
    <select name="medio">
        {{#each mediosDeTransporte}}
            <option value="{{id}}">{{nombre}}</option>
        {{/each}}
    </select>

    <label for="ingresar">Nuevo Tramo privado</label>
    <input type="submit" name="ingresar">
</form>

<ul>
{{#each pretramos }}
    <li>{{tipo}}</li>
    <li>{{medio}}</li>
    <li>{{origen}}</li>
    <li>{{destino}}</li>
{{/each}}
</ul>