<h1>TODO</h1>

<ul>
{{#each vinculaciones}}
    <li>{{miembro.nombre}}</li> {{! aca hay que volver a agregar datos a mi}}
    <li>{{sector.nombre}}</li>
    <li>{{sector.nombre}}</li>
    <li>{{estado.nombre}}</li>
    <form method="POST" action="/organizaciones/vinculaciones">
        <input type="hidden" name="id" value="{{id}}">

        <label for="ingresar">Aceptar Vinculacion</label>
        <input type="submit" name="ingresar">
    </form>
{{/each}}
</ul>